<h1>Welcome!</h1>
<p>This system is for tracking issues and their resolutions.</p>

<p>To start using this system please signup by clicking the "Sign up" button at the top right of the screen or by clicking the button below</p>


<%= link_to "Sign up!", signup_path, class: "btn btn-large" %>